.entry{
    display: block;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.entry input, .entry button {
    width: 200px;
    border-radius: 12px;
    font-size: 20px;
    border: 1px solid black;
    margin: 10px;

}
.entry button{
    height: 50px;
    background-color: cadetblue;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;

}

